.login-page-root{
    height:100%;
    .login-page-layout {
        height: 100% ;
        background-color: #1a3b32 ;
        color: #ffffff ;
    }
    .login-page-layout2{
        height:100% ;
        background-image: url(../../../assets/img/login/mohammad-alizade.jpg) ;
        background-size: cover ;
        background-repeat: no-repeat ;
        background-position: 100% 100% ;
    }
}

