.login-page-root{
    height:100%;
    .login-page-layout {
        height: 90% ;
        background: linear-gradient(40deg, #155263 9%, #155263 43%, #FF6F3C calc(43% + 1px), #FF6F3C 52%, #FF9A3C calc(52% + 1px), #FF9A3C 80%, #FFC93C calc(80% + 1px), #FFC93C 100%);
        color: #ffffff ;
    }
}

