$mainBgColor=#409EFF

$assistSuccessColor=#67C23A
$assistWarningColor=#E6A23C
$assistDangerColor=#F56C6C
$assistInfoColor=#909399

$neutralMainTextColor=#303133
$neutralSimpleTextColor=#606266
$neutralSecondTextColor=#909399
$neutralThirdTextColor=#C0C4CC

$neutralMainBorderColor=#DCDFE6
$neutralSimpleBorderColor=#E4E7ED
$neutralSecondBorderColor=#EBEEF5
$neutralThirdBorderColor=#F2F6FC